.card {
  display: flex;
  border: 2px solid;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  text-align: justify;
}

.card:hover {
  @apply bg-secondary;
}
