.modal {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 50vh;
  padding: 10px 20px;
  border-radius: 10px;
}

.modalButton {
  display: flex;
  justify-content: flex-end;
}

.button {
  display: flex;
  justify-content: flex-end;
}
